* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* navbar */

nav {
    width: 100vw;
    height: 70px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
}

ul.ulOne {
    width: 100%;
}

ul.ulOne ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    opacity: 100%;
    width: 100%;
}

li.navbar {
    list-style-type: none;
}

li.navbar a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100px;
    margin: 0 5px;
    padding: 3px;
    border: 1px solid rgb(34, 33, 48);
    border-radius: 10px;
}

.home-link,
.info-link,
.call-link {
    background-color: rgb(140, 162, 223);
}


/* header */

header {
    width: 100vw;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 3px solid black;
}

div.logo {
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

div.ti-head {
    margin: 20px 0;
}


/*  */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.in-text {
    width: 80%;
    margin: 15px;
    padding: 3px;
    border: 3px solid rgb(29, 36, 51);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 15px 0.5px black;
}

div.in-text h2,
div.in-text p,
div.in-text img {
    margin: 5px 0;
}

div.image-loc {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(29, 36, 51);
    border-radius: 40%;
    overflow: hidden;
}

div.image-loc img {
    height: 350px;
    margin-top: -10px;
}